<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
  <div class="main">
    <h1 align='center'>User</h1>
    <h2>Contact list:</h2>
    <div id='contacts'>
    </div>
    <form action="/search" method="post"> Search for a user: <input type="text" name="user_name">
      <br>
      <button class='btn btn-primary' type="submit">Search</button>
    </form>
  </div>
  <div> {{result}} </div>
  <div id='user'> {{user}} </div>
  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-auth.js"></script>
  <script src="../js/Script.js"></script>
  <script>
    var user = document.getElementById('user').innerHTML;
    showContacts(user);
  </script>
</body>
<div> {{result}} </div>
<div id='user'> {{user}} </div>
<div id='groups' style='border: red solid 1px'>
  <h5> Groups: </h5> {{groups}} <a class="btn btn-primary" href="/addGrp">Add</a>
</div>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-auth.js"></script>
<script src="../js/Script.js"></script>
<script>
  var user = document.getElementById('user').innerHTML;
  showContacts(user);
</script>
</body>

</html>